@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes logo-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-logo-scroll {
  animation: logo-scroll 30s linear infinite;
}

.animate-logo-scroll:hover {
  animation-play-state: paused;
}



@keyframes lexoraFloat {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-12px) rotate(4deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.animate-lexoraFloat {
  animation: lexoraFloat 5s ease-in-out infinite;
}

